<h1>Aplicação</h1>
<app-header></app-header>

<router-outlet></router-outlet>

<div *ngIf="clientePremium; else naopremium">
<p>Você é um cliente premium, tem acesso a informações privilegiadas </p>
</div>

<ng-template #naopremium>
    
  <br />  Não é um cliente premium
</ng-template>

<ul *ngFor="let valor of valores">
<li>{{valor.id}} - {{valor.nome}} - {{valor.descricao}}</li>
</ul>

<app-binding-page></app-binding-page>

<h1>Exemplo de PIPE</h1>

<p>Data: {{umaData | date:'long'}}</p>
<p>Currenry: {{umDinheiro |currency: 'BRL'}}</p>
<p>Customizado Upercase: {{nome | appUppercase}}</p>